{% extends 'base.html.twig' %}

{% block body %}
    {% set totalprice = 0 %}
    <div class="container">
        {% for msg in app.session.flashBag.get('remove') %}
            <div class="alert alert-danger">
                <h1>{{ msg }}</h1>
            </div>
        {% endfor %}
        {% for msg in app.session.flashBag.get('addCart') %}
            <div class="alert alert-success">
                <h1>{{ msg }}</h1>
            </div>
        {% endfor %}

        <h2>Your Cart</h2>
        <table class="table table-hover" border="1">
            <thead>
            <tr>
                <td>Product</td>
                <td>Quantity</td>
                <td>Price per Product</td>
                <td>Total Price</td>
                <td>Remove</td>
            </tr>
            </thead>
            <tbody>
            {% for product in cart_product %}
                    <tr>
                        <td>{{ product.product.name }}</td>

                        <td>

                            <a  href="{{ path('decrease_cart_product_process', {'id':product.id}) }}">
                                <i class="fa fa-minus-square" aria-hidden="true"></i>
                            </a>

                            {{ product.quantity }}

                            <a  href="{{ path('increase_cart_product_process', {'id':product.id}) }}">
                                <i class="fa fa-plus-square" aria-hidden="true"></i>
                            </a>

                        </td>
                        <td>
                            {{ product.product.price }}
                        </td>
                        <td>{{ product.product.price*product.quantity | number_format(2) }} rub</td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('remove_cart_product_process', {'id':product.id}) }}">
                                <i class="fa fa-remove" aria-hidden="true"></i>
                                Remove form Cart
                            </a>
                        </td>
                        {% set totalprice = totalprice +  product.product.price*product.quantity %}
                    </tr>
            {% endfor %}
            </tbody>
        </table>
        <h3><b>Total price: {{ totalprice| number_format(2) }} rub</b></h3>
        <a href="{{ path('order_new') }}"><button type="submit" class="btn btn-primary">Check out</button></a>
    </div>
    {#{ path('cart_checkout')}#}
    {#{% for product in cart_product %}#}
    {#{% if user.id == product.cart.userId.id %}#}

    {#{{ product.product.name }} => {{ product.qty }}<br>#}

    {#{% endif %}#}
    {#{% endfor %}#}

{% endblock %}