{% extends 'base.html.twig' %}

{% block body_id 'blog_index' %}

{% block main %}
    {% for product in products %}
        <article class="well">
            <h2>
                <td><img src="/home/igor/Docs/SCP/public/uploads/brochures/{{ product.image }}" style="width: 100px;"></td>
                <a href="{{ path('product_info', {slug: product.slug}) }}" style="margin-right: 40%">
                    {{ product.name }}
                </a>
                <a class="btn btn-primary" type="submit" style="margin-right: 10px">
                    <i class="fa fa-money" aria-hidden="true"></i>
                    {{ product.price }}
                </a>
            </h2>

            <p>{{ product.summary }}</p>
            {{ include('product/_product_tags.html.twig') }}
        </article>
    {% else %}
        <div class="well">{{ 'post.no_posts_found'|trans }}</div>
    {% endfor %}

        <div class="navigation text-center">
            {{ knp_pagination_render(products)}}
        </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}
